#community{
    text-align: center;
    font-family: Roboto;
    color: black;
    padding: 4vw 4vw 4vw 4vw;
}

#community>.workers{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    padding: 2px 8px;
    width: 100%;
    box-sizing: border-box;
     margin: 0 auto; /* Center the grid container */
  padding: 0 10px; /* Optional: Add some padding inside the container */
    
 
}
#community>.workers>.worker{
    background-color: #F9FAF3;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#community>.workers>.worker:hover{
    transform: scale(1.1);
}
#community>.workers>.worker>img{
    width: 200px;
    object-fit: cover;
}#community>.workers>.worker>span{
    font-weight: 300;
}
#community>.workers>.worker>h5{
    margin: 0;
}

#community>.workers>.worker>.social{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

#community>.workers>.worker>.social>a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(120, 119, 119);
    transition: all 0.3s;
}
#community>.workers>.worker>.social>a:hover{
    background-color: orange;
    transform: scale(1.2);
    border: none;
}
#community>.workers>.worker>.social>a>i{
    color: black;
}